.seat-block {
    display: inline-block;
    padding-right:5px;
}

.seat {
    border-color: transparent;
    border-width: thin;
    width: 30px;
    height: 30px;
    background: #488bf8;
    cursor: pointer;
}

.seat-chosen, .seat:active, .seat-ordered{
    width: 30px;
    height: 30px;
    box-shadow: inset 0 1px 6px rgba(41, 41, 41, 0.2);
    border-color: transparent;
    outline: none;
    border-width: thin;
    cursor: pointer;
}

.seat-ordered {
    background: #f5f822 !important;
}

button:disabled {
    cursor: not-allowed !important;
}
.order-button {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 110px;
}

.block-warn {
    background: #e4dae4;
    font-family: cursive;
    font-size: 20px;
    position: fixed;
    top: 40%;
    left: 41%;
    z-index: 10000;
    width: max-content;
    opacity: 0.8;
    border:1px solid black;
}